body{
    background-color:antiquewhite !important;
}

.nav{
    border-radius: 0% !important;
    padding: 10px 0 10px 0  !important;
    background-color:dodgerblue !important;
}

.mb-7{
    margin-bottom: 7px !important;
}